@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #533570;
    --color-primary2: #533570b9;
    --color-danger: #ff7782;
    --color-success: #00d48d;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #907ba64c;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}

*{
    margin:0;
    padding:0;
    outline:0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
    overflow-x: hidden;
}

body{
    font-family: poppins, sans-serif;
    height: 100vh;
    width:100vw;
    font-size: 0.88rem;
    background-color: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

.container{
    display: grid;
    width:96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}
a{
    color: var(--color-dark)
}
img{
    display: block;
    width: 100%;
}
h1{
   font-weight: 800;
   font-size: 1.8rem; 
}
h2{
    font-size:1.6rem;
}
h3{
    font-size:0.87rem;
}
h4{
    font-size:0.8rem;
}
h2{
    font-size:0.77rem;
}
small{
    font-size:0.75rem;
}

.profile-photo{
    width:2.8rem;
    height: 2.8rem;
    overflow:hidden;
}

.text-muted{
    color:var(--color-info-dark);
}
p{
    color:var(--color-dark-variant);
}
b{
    color:var(--color-dark);
}
.primary{
    color:var(--color-primary);
}
.danger{
    color:var(--color-danger);
}
.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}
aside{
    height: 100vh;
    
}
aside .top{
    background: white;
    border-radius: var(--card-border-radius);
    padding: 10px;
    display: flex;
    align-items:center;
    margin-top:1.4rem;
    justify-content:center;
}
aside .logo{
    width: 7rem;

}
aside .close{
    display: none;
}

/*---------side-bar-------*/

aside .sidebar{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 1.5rem;
}
aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display: flex;
    color: var(--color-dark-variant);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center; 
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
    
}
aside .sidebar a:last-child {
    position: absolute;
    bottom:2rem;
    width: 100%;
}
aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
    
}
aside .sidebar a.active:before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}
aside .sidebar a.active img {
    color: var(--color-primary); 
    margin-left: calc(1rem - 3px);
    }
aside .sidebar a:hover{
    color: var(--color-primary);
}
aside .sidebar a img {
    transition: all 300ms ease;
}
aside .sidebar a:hover img {
    margin-left: 1rem;
}

/*-------------Fin: Sidebar----------*/


/*-------------main client-----------*/
main {
   
    margin-top: 1.4rem;
    margin-top: 0.8rem;
}
main h1{
    color: var(--color-primary);
}

main .top-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .top-list .search-client{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;

}
main .top-list h2{
    font-size: 1.5rem;
    color: var(--color-primary);
}

main .top-list .search-client .search{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);

}
main .top-list .search-client .search:hover{
    transform: scale(1.05);
    background-color: var(--color-light);
}






/*------------------Table-----------------*/


main .clients-table {
    margin-top: 2rem;
}

main .clients-table table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .clients-table table:hover{
    box-shadow:none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
    border: none;
}

main .clients-table a {
    text-align: center;
    display: block;
    margin: 1.5rem auto;
    color: var(--color-primary);
}

/*----------------------------Fin: table--------------------*/

main .bottom-list{
    margin-top: 2rem;
    display:flex;
    justify-content: space-between;
}

.pagination {
    margin-top:0;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

#prevBtn, #nextBtn {
    background-color: var(--color-primary2);
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#pageNum {
    margin: 0 15px;
    font-size: 18px;
}


main .bottom-list .add-export{
    display: flex;
    gap:1rem;

}

main .bottom-list .add-export .add-client{
    display: flex;
    align-items: center;
    gap:1.5rem;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}
main .bottom-list .add-export .export{
    display: flex;
    align-items: center;
    gap:1.5rem;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}

main .bottom-list .add-export .add-client:hover{
    box-shadow: none;
}
main .bottom-list .add-export .export:hover{
    box-shadow: none;
}
.add-client-form{
    display:none;
    position:absolute;
    right:30rem;
    top:20.8rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--card-border-radius);

}
.add-client-form input{
    margin-bottom: 0.5rem;;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);
}

.add-client-form label{
    color: var(--color-primary);
    font-weight: 400;
}
.add-client-form h2{
    text-align: center;
}
.add-client-form button{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    width:100%;
}
.add-client-form.open{
    display:block;
}

.add-client-form input{
    display: block;
}
.add-client-form .close{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}
.add-client-form.close-form{
    display: none;
}

.supp {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-danger);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    z-index: 1000;
    display: none; /* Initialement caché */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.supp.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.supp .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.supp button {
    color: var(--color-danger);
    font-size: 15px;
    margin-top: 1.5rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
}