@import url("global.css");



:root {
    --color-primary: #533570;
    --color-primary2: #533570b9;
    --color-danger: #ff7782;
    --color-success: #00d48d;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #907ba64c;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}



.container{
    display: grid;
    width:96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 23rem;
}


/*--------------------------Main---------------------------------*/
main {
   
    margin-top: 1.4rem;
}
main h1{
    color: var(--color-primary);
}
/*---------------------------insights----------------------------*/

main .insights{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.6rem;
}
main .insights > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}
main .insights > div:hover {
    box-shadow: none;
}

.factures-payées img{
    width: 30px;
}
.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .insights .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
main .insights h3 {
    margin: 1rem 0 0.6rem; 
    font-size: 1rem;
}
main .insights svg{
    height: 7rem;
    width: 7rem;
}
main .insights svg circle {
    fill: none;
    stroke: var(--color-danger);
    stroke-width: 14;
    stroke-linecap: round;
    transform: translate(5px, 5px); 
    stroke-dasharray: 226.2;
    stroke-dashoffset: 226.2; 
}



main .insights .progress .number {
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------recent factures--------------------------*/

main .recent-factures {
    margin-top: 2rem;
}
main .recent-factures h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: var(--color-primary);
}

main .recent-factures table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .recent-factures table:hover{
    box-shadow:none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
    border: none;
}

main .recent-factures a {
    text-align: center;
    display: block;
    margin: 2rem auto;
    color: var(--color-primary);
}

/*-----------------------------------------Fin: main-------------------------------*/

.right{
    margin-top: 1.4rem;
}

.right .top{
    display: flex;
    justify-content: end;
    gap:2rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    align-items: center;
    padding: 15px;
}
.right .top .profile{
    display:flex;
    text-align: right;
    gap:2rem;
}
.right .top .menu-btn{
    display: none;
}
.right .recent-updates{
    margin-top:2rem;
}
.right .recent-updates h2{
    font-size: 1.5rem;
    color:var(--color-primary);
    margin-bottom: 0.8rem;
}
.right .recent-updates p{
    font-size: 1rem;
}

.right .recent-updates .updates{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    margin-bottom : 3rem;
    margin-top : 1.5rem;
}

.right .recent-updates .updates:hover{
    box-shadow: none;
}

.right .recent-updates .updates .update{
    display:grid;
    grid-template-columns: 2.6rem auto;
    gap: 1.6rem;
    margin-bottom:1rem;
}

/*----------------------Fin: Updates-------------------*/

.right .add{
    margin-top:2rem;
}
.right .add h2{
    font-size: 1rem;
    color:var(--color-primary);
}
.right .add .item-client{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
    padding: 1.4rem var(--card-padding); 
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
}
.right .add .item-facture{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.2rem;
    padding: 1.4rem var(--card-padding); 
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;

}
.right .add .item-facture:hover{
    background-color: var(--color-light);
}
.right .add .item-client:hover{
    background-color: var(--color-light);
}

.add-client-form {
    display:none;
    position:absolute;
    right:27rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--card-border-radius);
}
.add-facture-form{
    display:none;
    position:absolute;
    top:25rem;
    right:27rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--card-border-radius);
}

.add-client-form input, .add-facture-form input{
    margin-bottom: 0.5rem;;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);
}
.add-client-form label, .add-facture-form label{
    color: var(--color-primary);
    font-weight: 400;
}
.add-client-form h2 , .add-facture-form h2{
    text-align: center;
}

.add-client-form button , .add-facture-form button{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    width:100%;
}
.add-client-form.open , .add-facture-form.open{
    display:block;
}
.add-client-form.open input , .add-facture-form input{
    display: block;
}

.add-client-form .close, .add-facture-form .closeF{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}

.add-client-form.close-form, .add-facture-form.close-form{
    display: none;
}
.add-facture-form select{
    background-color: var(--color-light);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);

}
.scfl{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    box-shadow: var(--box-shadow);
    padding: var(--card-border-radius);
    border-radius: var(--card-border-radius);
    background-color: transparent;
}
.message-box{
    font-size: 15px;
    font-weight: 500;
    color: var(--color-success);
}































