
@import url("global.css");
:root {
    --color-primary: #533570;
    --color-primary2: #533570b9;
    --color-danger: #ff7782;
    --color-success: #00d48d;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #907ba64c;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light)
}
.container{
    display: grid;
    width:96%;
    margin: 0 auto;
    gap: 1.8rem;
    grid-template-columns: 14rem auto;
}

/*---------------------main-----------------------*/
main {
   
    margin-top: 1.4rem;
    margin-top: 0.8rem;
}
main h1{
    color: var(--color-primary);
    
}

main .top-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .top-list .search-facture{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}
main .top-list h2{
    font-size: 1.5rem;
    color: var(--color-primary);
}

main .top-list .search-facture .search{
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);

}
main .top-list .search-facture .search:hover{
    transform: scale(1.05);
    background-color: var(--color-light);
}

main .factures-table {
    margin-top: 2rem;
}

main .factures-table table {
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .factures-table table:hover{
    box-shadow:none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}
main table tbody tr:last-child td {
    border: none;
}



/*----------------------Fin: Table-----------------*/

main .bottom-list{
    margin-top: 2rem;
    display:flex;
    justify-content: space-between;
}

.pagination {
    margin-top:0;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

#prevBtn, #nextBtn {
    background-color: var(--color-primary2);
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

#pageNum {
    margin: 0 15px;
    font-size: 18px;
}


main .bottom-list .add-export{
    display: flex;
    gap:1rem;

} 

main .bottom-list .add-export .add-facture{
    display: flex;
    align-items: center;
    gap:1.5rem;
    font-size: 15px;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}
main .bottom-list .add-export .export{
    display: flex;
    align-items: center;
    gap:1.5rem;
    background-color: transparent;
    justify-content: center;
    padding: 15px;
    border-radius: var(--border-radius-3);
    transition: all 300ms ease;
    transition: all 0.3s ease-in-out;
    color: var(--color-primary);
    border: 3px solid var(--color-primary);
    box-shadow: var(--box-shadow);
}

main .bottom-list .add-export .add-facture:hover{
    box-shadow: none;
}
main .bottom-list .add-export .export:hover{
    box-shadow: none;
}
.add-facture-form{
    display:none;
    position:absolute;
    right:30rem;
    top:25.5rem;
    background-color: var(--color-white);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--card-border-radius);

}
.add-facture-form input , .edit input{
    margin-bottom: 0.5rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);
}

.add-facture-form label{
    color: var(--color-primary);
    font-weight: 400;
}
.add-facture-form h2{
    text-align: center;
}
.add-facture-form button{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-white);
    width:100%;
}
.add-facture-form.open{
    display:block;
}

.add-facture-form input{
    display: block;
}
.add-facture-form .closeF{
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
}
.add-facture-form.close-form{
    display: none;
}
.add-facture-form select{
    background-color: var(--color-light);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);

}

.supp {
    font-size: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-danger);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    z-index: 1000;
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.supp.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.supp .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.supp button {
    color: var(--color-danger);
    font-size: 15px;
    margin-top: 1.5rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
}

.edit {
    font-size: 15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow);
    color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    z-index: 1000;
    display: none; /* Initialement caché */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}

.edit.open {
    display: block;
    opacity: 1;
    visibility: visible;
}

.edit .btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.edit button {
    color: var(--color-primary);
    font-size: 15px;
    margin-top: 1.5rem;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    padding: var(--padding-1);
    border-radius: var(--card-border-radius);
    
}
.edit select {
    background-color: var(--color-info-light);
    padding: 10px;
    border-radius: var(--border-radius-2);
    color: var(--color-primary);
}