@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #533475;
    --color-primary2: #533570b9;
    --color-danger: #ff7782;
    --color-success: #00d48d;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #907ba64c;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow2: 0px 5px 20px 5px var(--color-light)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-background);
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    border-radius: var(--card-border-radius);
    background-color: var(--color-white);
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.container, .sqli, .login-box {
    animation: fadeIn 0.5s ease-in-out;
}

.sqli{
    display: flex;
    align-items: center;
    
}
.sqli img{
    padding: var(--card-padding);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
}
.login-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 440px;
    height: 480px;
    padding: 30px;
}
.login-box .login-header{
    text-align: center;
    margin: 20px 0 40px 0;
}
.login-box .login-header header {
    color: var(--color-primary);
    font-size: 50px;
    font-weight: 700;
}
.login-box .login-header .label2 {
    color: var(--color-primary);
    font-size: 30px;
    font-weight: 500;
}
.input-box .input-field {
    width: 100%;
    height: 60px;
    font-size: 17px;
    padding: 0 25px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: none;
    box-shadow: var(--box-shadow2);
    outline: none;
    transition: all 0.3s ease-in-out;
}
.input-field{
    color: var(--color-primary);
}

.login-btn {
    width: 100%;
    height: 60px;
    background: var(--color-primary);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: var(--color-white);
    font-size: 18px;
    box-shadow: var(--box-shadow2);
}
.input-box .input-field:hover {
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background-color: #f0f0f0;
}

.input-box .input-field:focus {
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    background-color: #e0e0e0;
}

.login-btn:hover {
    background: var(--color-primary2);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
